/* body */
body {
  background: linear-gradient(270deg, #cae0dd 0, #cae0dd 50%, #cae0dd 100%);
  font-family: serif;
  font-size: 1.2rem;
  line-height: 1.4em;
  text-decoration-color: white;
  background: url(../assets/back.jpg) no-repeat center top;
  background-size: cover; }

p {
  margin-bottom: 1.6em;
  font-size: 150%;
  font-style: italic;
  text-decoration: none;
  color: darkcyan; }
