.productos{
   display: grid;
grid-template-columns: 200px 200px;
justify-items: space-between;
align-content: stretch;
justify-content:center;
grid-row-gap: 50px;
grid-template-rows:  200px;
grid-column-gap: 100px ;
    grid-template-areas:
    " menu menu menu menu"
        "e e f f "
        
        "g g h h"
        
        " i i j j";
    align-content: center;
    align-items: center;

}

.productos .img-container5{
 grid-area: e;
  overflow: hidden;
  height: auto;
 position: relative;
  }

.productos .img-container5 img{
  width : 500;
 height: auto;
  position: sticky;
    margin-top: -0%;
  transition: all 0.5s;
 transform:translateY(-25px);
}

.productos:hover .img-container5 img{
  transform: scale(1.2);
}

.productos .img-container6{
 grid-area: f;
  overflow: hidden;
  height: auto;
 position: relative;
  
}

.productos .img-container6 img{
  width :500; 
  height: auto;
  position: sticky;
   margin-top: -0%;
  transition: all 0.5s;
 transform:translateY(-25px);
}

.productos:hover .img-container6 img{
  transform: scale(1.2);
}

.productos .img-container7{ 
  grid-area: g;
  overflow: hidden;
 height: auto;
 position: relative;
  
}

.productos .img-container7 img{
  width :500; 
 height: auto;
  position: stick;
  margin-top: -0%;
  transition: all 0.5s;
 transform:translateY(-25px);
}

.productos:hover .img-container7 img{
  transform: scale(1.2);
}
.productos .img-container8{
  grid-area:h;
  overflow: hidden;
 height: auto;
 position: sticky;
  
}

.productos .img-container8 img{
  width :500; 
 height: auto;
  position: sticky;
 margin-top: -0%;
  transition: all 0.5s;
 transform:translateY(-25px);
}

.productos:hover .img-container8 img{
  transform: scale(1.2);
}
.productos .img-container9{
  grid-area:i;
  overflow: hidden;
height: auto;
 position: sticky;
  
}

.productos .img-container9 img{
  width :500; 
 height: auto;
  position: sticky;
  margin-top: -0%;
  transition: all 0.5s;
 transform:translateY(-25px);
}

.productos:hover .img-container9 img{
  transform: scale(1.2);
}
.productos .img-container11{
  grid-area:j;
  overflow: hidden;
 height: auto;
 position: sticky;

 
}

.productos .img-container11 img{
  width :500; 
 height: auto;
  position: sticky;
  margin-top: -0%;
  transition: all 0.5s;
 transform:translateY(-25px);
}

.productos:hover .img-container11 img{
  transform: scale(1.2);
}
