/* menu desplegable */

.dropdown a{
      text-decoration:none;
      color:inherit;
      font-size:14px;
      }
            
.dropdown-item{
      display:inline-block;
      width:150px;
      height: auto;
      padding:5px 10px;
      background-color:#000;
      border:1px solid #000;
      text-align:center;
      color:#fff;
      position:relative;
}
       
.dropdown-item:hover{
      background-color:#fff;
      color:#000;
      }
            
.dropdown-item{
      display:none;
      }

.dropdown-item:hover ul{
      display:block;
      position:absolute;
      top:30px;
      left:0px;
}


